.border_all {
  border: 1px solid black;
}

.border_top {
  border-top: 1px solid black
}

.border_left {
  border-left: 1px solid black
}

.list_hover:hover{
  color:rgb(124, 124, 124);
}

.login_button:hover{ 
  background-color: black;
  color: white;
}