
/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footer-section h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-section p,
.footer-section a {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #ccc;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;
  font-size: 1em;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #ccc;
}

.highlight {
  color: #00ff00;
}

/* Footer animations */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.footer-content .footer-section {
  animation: fadeIn 1s ease-in-out;
}

.footer-bottom {
  animation: fadeIn 1.5s ease-in-out;
}
